<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="../static/logo.png" />
    <title>
    {% block title %}All about you{% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css' ) }}">
</head>
<body>

<div class="container bg-light align-items-center h-100 bg-light rounded border-0">
        <a class="text-secondary navbar-brand" style="text-decoration:none;" href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='plus.svg' ) }}" width="30" height="30" alt="">
            All about you
        </a>
<hr>
<main>
    {% for message in get_flashed_messages() %}
    <div class="alert">
        {{ message }}
    </div>
    {% endfor %}

{% block content %}{% endblock %}

</main>

<footer class="page-footer font-small blue pt-4">
    <div class="container-fluid text-center text-md-left">
        <small><p>&copy; 2022 by Pablo Alcala</p></small><br>
    </div>
</footer>
</div>
{% block scripts %}{% endblock %}
</body>
</html>
